@model CustomerReportDto

@{
    ViewBag.title = "Customer List";
}

@section page_specific_style {


    <style>
        .country-select:disabled {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            border: none;
            box-shadow: none;
            padding-left: 0;
            color: #000;
            font-weight: 500;
            pointer-events: none;
        }

        .sortable {
            cursor: pointer;
        }

            .sortable:hover {
                text-decoration: underline;
            }

        .listTopFlex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .listAct {
            display: flex;
            align-items: center;
            gap: 10px;
        }

    </style>


}

<div class="container-fluid">
    <div class="listTopFlex mb-3 d-flex justify-content-between align-items-center ">
        <h5>Customer List</h5>

        <div class="d-flex align-items-center gap-2">
            <div class="seah">
                <input class="form-control form-control-sm"
                       type="search"
                       id="searchit"
                       placeholder="Search...">
            </div>

            <button class="btn btn-sm btn-success" id="btnCreateCustomer">
                + Create Customer
            </button>
        </div>
    </div>

    <div>
        <div id="divindex">
        </div>
    </div>



</div>


@section Scripts {
    <script>

        const IssuedPustikaUrl = '@Url.Action("CustomerTablePartial", "Customers")';

    </script>
    <script src="~/js/customerFilter.js"></script>
    <script>

                $(document).on('click', '.btn-edit', function () {
                var btn = $(this);
                var row = btn.closest('tr');
                var isEditMode = btn.text().trim() === 'Update';

                var countrySelect = row.find('.country-select');

                if (isEditMode) {
               
                    row.find('[data-field]')
                        .attr('contenteditable', true)
                        .addClass('editable-active');

                   
                    countrySelect.prop('disabled', false);

                    btn.text('Save')
                       .removeClass('btn-primary')
                       .addClass('btn-success');
                }
                else
                {

                 var email = row.find('[data-field="Email"]').text().trim();
                 var phone = row.find('[data-field="Phone"]').text().trim();




                 var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;


                 if (!emailRegex.test(email)) {
                     alert("Please enter a valid email address");
                     row.find('[data-field="Email"]').focus();
                     return;
                 }

           
                 if (!/^\d{10}$/.test(phone)) {
                     alert("Phone number must be exactly 10 digits");
                     row.find('[data-field="Phone"]').focus();
                     return;
                 }


                    var customer = {
                        CustomerID: row.data('id'),
                        FirstName: row.find('[data-field="FirstName"]').text().trim(),
                        LastName: row.find('[data-field="LastName"]').text().trim(),
                        Email: row.find('[data-field="Email"]').text().trim(),
                        Phone: row.find('[data-field="Phone"]').text().trim(),
                        CountryID: countrySelect.val()
                    };

                    $.ajax({
                        url: '/Admin/Update',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(customer),
                        success: function () {

                        
                            row.find('[data-field]')
                                .removeAttr('contenteditable')
                                .removeClass('editable-active');

                         
                            countrySelect.prop('disabled', true);

                            btn.text('Update')
                               .removeClass('btn-success')
                               .addClass('btn-primary');
                        },
                        error: function () {
                            alert('Update failed');
                        }
                    });
                }
            });






    </script>
    <script>
                $(document).on('click', '#btnCreateCustomer', function () {
            window.location.href = '@Url.Action("Create", "Customers")';
        });


            $(document).ready(function () {
            console.log("hello");

            $(document).on('click', '.btn-delete', function () {

                if (!confirm('Are you sure?')) return;

                var row = $(this).closest('tr');
                var id = row.data('id');
                console.log(id);

                $.ajax({
                    url: '/Admin/Delete',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(id),
                    success: function () {
                        row.fadeOut(300, function () {
                            $(this).remove();
                        });
                    },
                    error: function () {
                        alert('Delete failed');
                    }
                });
            });
        });

    </script>


    <script>
        let sortColumn = '@ViewBag.SortColumn';
        let sortDirection = '@ViewBag.SortDirection';

        $(document).on('click', '.sortable', function () {
            let col = $(this).data('sort');

            if (sortColumn === col) {
                sortDirection = sortDirection === "ASC" ? "DESC" : "ASC";
            } else {
                sortColumn = col;
                sortDirection = "ASC";
            }

            loadData(1);
        });

        function loadData(page) {
            $.post('@Url.Action("CustomerTablePartial")', {
                searchValue: $('#searchit').val(),
                pageNumber: page,
                sortColumn: sortColumn,
                sortDirection: sortDirection
            }, function (html) {
                $('#divindex').html(html);
            });
        }
    </script>

}



